.venv/
venv/
env/

.env

__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

*.log
*.tmp
*.sh

Dockerfile
*.yaml

pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/
*.iml

*.sqlite3
*.db

*.egg-info/
dist/
build/
